
// The big orange download button CSS from http://codepen.io/immapooh/pen/elfAu

$downloadHeight: 400px;

#downloadcontainer {
    display: table-cell;
    width: 300px;
    height: $downloadHeight;
    vertical-align: middle;
    text-align: center;
}

#downloadlink {

}

#downloadbttn, #downloadbttn > div {
    background: rgb(255,97,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,97,0,1) 0%, rgba(155,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,97,0,1)), color-stop(100%,rgba(155,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,97,0,1) 0%,rgba(155,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,97,0,1) 0%,rgba(155,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,97,0,1) 0%,rgba(155,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,97,0,1) 0%,rgba(155,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6100', endColorstr='#9b0000',GradientType=0 ); /* IE6-9 */
}

#downloadbttn, #downloadbttn *, #downloadbttn > * {
            transition: All 0.2s ease-in-out;
    -webkit-transition: All 0.2s ease-in-out;
       -moz-transition: All 0.2s ease-in-out;
         -o-transition: All 0.2s ease-in-out;
}

#downloadbttn {
    display: block;
    width: 280px;
    height: 140px;
    margin: 20px auto;
    text-align: center;
    border-radius: 0.4em;
    position: relative;
    box-shadow: 0 -0.5em 0em 0px rgba(0,0,0,0.8),
                0 0.4em 0.5em 0px rgba(0,0,0,0.7),
                0 0.9em 0.7em 0px rgba(0,0,0,0.5),
                0 1.5em 1em 0px rgba(0,0,0,0.5),
                inset 0px 0 10em 0px rgba(0,0,0,0.9);
}
#downloadbttn > div {
    position: absolute;
    top: -5%;
    left: 0.3%;
    width: 99.4%;
    height: 90%;
    border-radius: 0.5em;
    box-shadow: inset 0 1px 0 1px rgba(255,255,255,0.2),
                inset 0 0 0 1px rgba(0,0,0,0.4);
}
#downloadbttn > div::before {
    position: absolute;
    content: "";
    top: 98%;
    left: 0;
    width: 100%;
    height: 2%;
    opacity: 0.5;
    box-shadow: 0 -1px 0 1px rgba(0,0,0,0.2);
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(255,255,255,0.03) 99%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(40%,rgba(255,255,255,1)), color-stop(60%,rgba(255,255,255,1)), color-stop(99%,rgba(255,255,255,0.03)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 60%,rgba(255,255,255,0.03) 99%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 60%,rgba(255,255,255,0.03) 99%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 60%,rgba(255,255,255,0.03) 99%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 60%,rgba(255,255,255,0.03) 99%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
#downloadbttn a {
    @include anim;
    display: block;
    padding-top: 2%;
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3.4em;
    font-weight: bold;
    font-variant: small-caps;
    color: #FFF;
    opacity: 0.7;
    text-shadow: 1px 2px 1px rgba(0,0,0,0.6);
    text-decoration: none;
}
#downloadbttn > div:hover {
    box-shadow: inset 0 1px 1px 1px rgba(255,255,255,0.5);
}
#downloadbttn > div > div:hover {
    box-shadow: inset 0px 0px 30px 5px rgba(255,255,255,0.5);
}
#downloadbttn a:active {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
#downloadbttn:active {
    box-shadow: 0 -0.1em 0em 0px rgba(0,0,0,0.8),
                0 0.5em 0.5em 0px rgba(0,0,0,0.7),
                0 0.5em 0.5em 0px rgba(0,0,0,0.2),
                0 0em 1em 0px rgba(0,0,0,0.1),
                inset 0px 0 10em 1em rgba(0,0,0,1);
}
#downloadbttn > div:active {
    top: 0;
}